*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;

}
.container{
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
}
header{
    background-color: #353535;
    background-position-y: -5em;
    color: white;
    display: flex;
    align-items: center;
    nav{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1,1fr);

    }
    .nav-items{
        display: flex;
        padding: 1em;
        justify-content: center;
    }
    .nav-items a{
        all: unset;
        font-weight: bold;
    }
    .search-bar{
        padding: 0.5em;
        justify-self: center;
    }
    .search-bar input{
        all: unset;
        padding: 0.3em 1em;
        border: 1px solid gray;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;

    }
    .search-bar button{
        all: unset;
        background-color: #7fff00;
        color: #353535;
        padding: 0.3em 0.5em;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        font-weight: bold;
        
    }
}
.overview{
    display: none;
}

main{

    .movie-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5em;
        gap: 1em;

    }
    .card{
        display: grid;
        justify-items: center;
        box-shadow: 2px 2px 10px #dbd9d9;
        border: none;
        border-radius: 0.5em;
        gap: 0.1em 0;
        background-color: #fff;
    }
    .title{
        font-size: 0.8rem;
        text-align: center;
    }
    .review{
        font-size: 0.5rem;
        margin-bottom: 0.5em;
        color: #6b6767;

    }
    .card img{
        width: 100%;
    }
    .icons{
        justify-self: start;
        padding: 0.3em 0 0 0.3em;
        font-size: 1.1rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}
// media queries
@media (min-width: 768px){
    header{
        nav{
            .search-bar{
                justify-self: end;
            }
        }
    }
    .container{
        max-width: 1400px;
    }
   
    main{
        .title{
            font-size: 1rem;
            grid-area: t1;
            align-self: center;
        }
        .movie-card{
            grid-template-columns: repeat(3, minmax(10vmin, 1fr));
            gap: 2em;
        }
        .card{
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: 
            'img t1'
            'img t2'
            'img r'
            'img i';
        }
        .card img{
            grid-area: img;
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
        }
        .overview{
            display: block;
            grid-area: t2;
            align-self: start;
            padding: 0.5em;
            font-size: 0.8rem;
            letter-spacing: 0.5px;
            line-height: 1.3;
            color: #6b6767;
        }
        .review{
            text-align: center;
            font-size: 1rem;
            grid-area: r;
            align-self: end;
            margin-bottom: 0;
            width: 100%;
        }
        .icons{
            align-self: end;
            grid-area: i;
            background: #191919;
            color: #fff ;
            border-bottom-right-radius: 0.5em;
        }
    }
    
    
   
}
.movie{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: linear-gradient(360deg, rgba(0,0,0,1) 50%, rgba(0,212,255,0) 100%);
    color: invert($color: #000000);
    gap: 1em 0;
    font-size: 0.8rem;
    // padding: 1em;
    
    .backdrop{
        width: 100%;
     
    }
    .movie-img-container{
        position: relative;
    }
    .movie-img{
        width: 25%;
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.2em;
        border-radius: 0.5em;
        z-index: 1;
        
    }
    .movie-title{
        // position: absolute;
        bottom: 20%;
        color: invert($color: #000000);
        font-weight: bold;
        padding: 0.5em;
        text-transform: uppercase;
    }
    .movie-overview{
        padding: 0.5em;
    }
    .movie-release{
        padding: 0.5em;
    }
    .movie-review{
        padding: 0.5em;

    }
}
.hidden{
    display: none;
}

